body{
    font-family:  'Arial Narrow', Arial, sans-serif;
}

/* shared style */
.btn-primary{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 19px 0px;
}

/* NAV */

header{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
nav ul{
    display: flex;
    gap: 48px;
}
nav li{
    list-style: none;
}

/* BANNER */

.banner{
    display: flex;
   
}
.banner-content{
    display: flex;
    align-items: flex-end;
}
.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 10px;
  
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    line-height:30px ;
    font-weight: 400;
}


/* SHOP CONTAINER */
.shop-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.shop-title{
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: 700;
    
    
}
.shop-description{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 50px;
    line-height:30px;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 50px;

}
.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    text-align: center;
}
.shop-container{
    margin-top: 60px;
    padding: 0 14px;
}
.card-text{
    margin: 30px 0;
}
.flower-title{
    font-size: 1.4rem;
    font-weight: 500;
}
.flower-price{
    font-size: 1.4rem;
    font-weight: 700;
}


/* PLANT LOVER */
.plant-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 120px;
    display: flex;
    gap: 60px;
    position: relative;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    left: 350px;
}
.plant-content{
    align-content: center;
}
.plant-title{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    line-height: 70px;
    margin-bottom: 20px;

}
.plant-list{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    line-height:30px ;
    font-weight: 400;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 40px;
}

/* LATEST DEAl */
.latest-container{
     max-width: 1140px;
    margin: 0 auto;
}
.latest-title{
    font-size: 4rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    text-align: center;
}
.latest-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    line-height:30px ;
    font-weight: 400;
    text-align: center;
    max-width: 880px;
    margin: 0 auto 120px;
    
}
.grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    place-items: center;
    
}
.first-two-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
.box-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
}
.shop-link{
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: underline;
}
.box{
    text-align: center;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode:multiply;
    
}
.box-1{
    width: 366px;
    height: 200px ;
    border-radius:14px ;
    background-image: url('./assets/deal-bloom.png')  ;

   
}
.box-2{
    width: 366px;
    height: 200px;
    border-radius:14px ;
    background-image: url("./assets/deal-ana.png");
}

.big-box-3{
    border-radius: 22px;
    background-image: url("./assets/deal-zabo.png");
    width: 750px;
    height: 430px;

}
.big-box-3 .box-title{
    font-size: 2.4rem;
    color: #FFFFFF;
}
.big-box-3 .shop-link{
    font-size: 28px;
    font-weight: 600;
}

/* JOIN  */
.join-container{
    
    background-image: url('./assets/news-letter-bg.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 100px auto;
    height: 530px;
    /* padding: 200px 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-input{
    background-color: white;
    width: 644px;
    padding: 15px 20px;
}
.input-box{
    display: flex;
}
.subscribe{
    
    background-color: #E95A08;
    color: white;
    padding: 20px 50px;
}

.footer-container{
    max-width: 1120px;
    margin: 0 auto 50px;
    justify-content: space-between;
    display: flex;
}

.logo-text{
    max-width: 360px;
}
.footer-links ul{
    gap: 30px;
    flex-direction: column;
    display: flex;
}
.social-media img{
    width: 36px;
    height: 36px;
}




/* Responsive  */
@media screen and (max-width:576px ) {
    nav{
        margin: 28px 16px;
        max-height: 38px;
    }
    nav img{
        height: 38px;
    }
    .res-hide{
        display: none;
    }
    

    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        margin: 28px 16px;
    }
    .banner-title{
        font-size: 1.5rem;
        line-height: 30px;
    }



    .cards-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .shop-title{
        font-size: 1.5rem;
    }
    .shop-description{
        font-size: 0.9rem;
        max-width: 330px;
        line-height: 20px;
        margin-bottom: 30px;
    }



    .badge{
        display: none;
    }
    .plant-container{
        flex-direction: column;
        margin: 40px 17px 140px;
        gap: 18px;
    }
    .plant-title{
        font-size: 1.5rem;
        margin: 0;
    }
    .plant-list{
        margin-left: 30px;
        font-size: 0.9rem;
        line-height: 18px;
    }



    .latest-container{
        margin: 0px 16px 40px;
    }
    .latest-title{
        font-size: 1.5rem;
    }
    .latest-description{
        font-size: 0.9rem;
        margin-bottom: 50px;
        line-height: normal;
    }
    .big-box-3 .box-title{
        font-size: 1.25rem;
        font-weight: 600;
}
    .big-box-3 .shop-link{
        font-size: 1rem;
        font-weight: 400;
}
    .big-box-3{
        width: 366px;
        height: 200px;
        border-radius: 14px;
    }
    .grid-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 0 auto;
    }
    .first-two-box{
        gap: 20px;
    }

    .join-container{
        background-size: cover;
        width: 100%;
        margin: 0 auto;
        height: 275px; 
        display: flex;

    } 
    .input-box{
        width: 320px;
        height: 50px;
    }
    .latest-title{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .subscribe{
        padding: 10px 12px;
    }




    .footer-container{
        /* margin: 0 auto 50px; */
        flex-direction: column;
        margin: 20px 16px 30px;
}

    .logo-text{
        max-width: 360px;
}
    .footer-links ul{
        margin-bottom: 30px;
}


}